@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import '../../style/variable';
.col-md-5,
.description {
  padding: 0;
}

.description {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

.cardHeader {
  min-height: 200px;
}
.cardHeader,
.metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;
}

.metadata {
  font-size: 16px;
  padding: 0 5px;
  i,
  p {
    float: left;
  }
  p {
    margin-top: 0;
    margin-left: 10px;
  }
  i {
    color: #ff9d00;
    margin-top: 5px;
    margin-left: 1px;
  }
}

.cardTitle {
  font-weight: 600;
  color: $ligth-font-color;
  position: absolute;
  bottom: 0;
  padding: 1.125rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.cardBody {
  position: relative;
  color: $ligth-secondary-font-color;
  background-color: $primary-color;
  .cardText {
    font-size: large;
  }
}

.card {
  -webkit-box-shadow: 10px 10px 18px 0px rgba(202, 241, 198, 0.2);
  -moz-box-shadow: 10px 10px 18px 0px rgba(202, 241, 198, 0.2);
  box-shadow: 10px 10px 18px 0px rgba(202, 241, 198, 0.2);
  &:hover {
    -webkit-box-shadow: 10px 10px 18px 0px rgba(202, 241, 198, 0.4);
    -moz-box-shadow: 10px 10px 18px 0px rgba(202, 241, 198, 0.4);
    box-shadow: 10px 10px 18px 0px rgba(202, 241, 198, 0.4);
  }
}

.card {
  border-radius: 8pt;
  border-style: none;
  overflow: hidden;
  transform: scale(0.8);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.cardImg {
  border-radius: none;
}
